<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book List</title>
  <link rel='Stylesheet' href="style.css"/>
</head>
<body class='list-page'>

  <h1>Book List Page</h1>
  <h2>This is a samaller header</h2>


{{#books}}
<table>
    <tr>
      <td>{{title}} by: {{author}}</td>      
    </tr>
<table>  
{{/books}}

</body>
</html>