<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Edit</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

  <div class='container'>  
    <form method='POST' action='/book/edit/{{books.bookId}}'>
      <input placeholder='title' name='title' value='{{books.title}}'/>
      <input placeholder='author' name='author' value='{{books.author}}'/>
      <button type='submit'>save</button>
    </form>
  </div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>